services:
  db:
    image: postgres:13
    container_name: avito-db
    restart: always
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
    ports:
      - "5432:5432"
    volumes:
      - ./migrations:/docker-entrypoint-initdb.d
  migrator:
    image: migrate/migrate
    depends_on:
      - db
    command: [
      "-path", "/migrations",
      "-database", "postgres://${DB_USER}:${DB_PASS}@db:5432/${DB_NAME}?sslmode=disable",
      "up"
    ]
    volumes:
      - ./migrations:/migrations
  pgadmin:
    image: dpage/pgadmin4
    container_name: avito-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@avito.ru
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "8081:80"
    depends_on:
      - db
  app:
    build: .
    container_name: avito-app
    depends_on:
      - db
    restart: on-failure
    env_file:
      - .env
    ports:
      - "8080:8080"
    command: ["/root/app"]
